<header class="p-2 mb-3 border-bottom bg-body-tertiary">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{{ site.url }}"
               class="d-flex align-items-center me-2 mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                <img src="{{ site.logo_url }}" class="rounded" alt="{{ page.title | default: site.title }}" width="32" height="32">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a href="https://github.com/badges-and-achievements/badges-and-achievements.github.io" target="_blank" class="nav-link px-2 link-secondary">
                        Star this project on GitHub →
                    </a>
                </li>
            </ul>
            
        </div>
    </div>
</header>
