@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

.container {
    max-width: 880px !important;
}

h1 {
    margin-bottom: 36px;
}

h2 {
    margin-bottom: 24px;
}

img {
    max-width: 800px;
}

table {
    table-layout: fixed !important;
    width: 100% !important;
    border: 1px solid rgb(222, 226, 230) !important;
    margin-bottom: 1rem !important;
    vertical-align: top !important;
}

table thead tr th {
    border: 1px solid rgb(222, 226, 230) !important;
    padding: 0.5rem 0.5rem !important;
}

table tbody tr td {
    border: 1px solid rgb(222, 226, 230) !important;
    padding: 0.5rem 0.5rem !important;
}

table tbody tr td img {
    max-width: 100px !important; /** or 100% **/
}