---
layout: site
---

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col">
            {% if site.titles_from_headings.strip_title == true %}
                <h1>{{ page.title | default: post.title }}</h1>
            {% endif %}

            {{ content }}
        </div>
    </div>
</div>
